<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>BOOKMARK</param-name>
        <param-value>bookmarks.txt</param-value>
    </context-param>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>cc.openhome.web.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CharacterFilter</filter-name>
        <filter-class>cc.openhome.web.CharacterFilter</filter-class>
        <init-param>
            <param-name>ESCAPE_LIST</param-name>
            <param-value>/WEB-INF/escapelist.txt</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/add.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CharacterFilter</filter-name>
        <url-pattern>/add.do</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>cc.openhome.web.BookmarkInitializer</listener-class>
    </listener>
    <servlet>
        <servlet-name>AddBookmark</servlet-name>
        <servlet-class>cc.openhome.controller.AddBookmark</servlet-class>
        <init-param>
            <param-name>SUCCESS</param-name>
            <param-value>success.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>ERROR</param-name>
            <param-value>add.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>cc.openhome.controller.Login</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>caterpillar</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </init-param>
        <init-param>
            <param-name>SUCCESS</param-name>
            <param-value>index.html</param-value>
        </init-param>
        <init-param>
            <param-name>ERROR</param-name>
            <param-value>login.html</param-value>
        </init-param>
        </servlet>
    <servlet-mapping>
        <servlet-name>AddBookmark</servlet-name>
        <url-pattern>/add.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
